<font color="purple"><h2> Sign Up to meet your goals!! </h2> </font>


<form action="users_url" method="post">
    <font color="red"><label for="username" color='red'>Username: </label>
      <input type="text" id="username" name="user[username]" value="<%= @user.username %>">
      <br>
      <label for="email">Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
      </label>
      <br>
      <label for="password">Password:
        <input type="password" name="user[password]" value="<%= %>">
      </label>
      <br>
      <input type="submit" value="Sign up!"></font>
  



</form>

